* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
}
.img {
  background-image: url(/web_coding.webp);
  margin: 0;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  /* background: linear-gradient(135deg, #6a00a8, #9b00d4); */
}

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 300px;
  height: 200px;
  background: rgba(255, 255, 255, 0.15); /* shaffof */
  backdrop-filter: blur(15px) saturate(140%);
  -webkit-backdrop-filter: blur(15px) saturate(140%);

  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.25);

  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.35);
}
h1 {
  color: blueviolet;
}
#logoutBtn {
  cursor: pointer;
  font-size: 16px;
  width: 90%;
  height: 40px;
  border: 12px;
  background: #b300ff;
}
/* BACKGROUND */
.page {
  min-height: 100vh;
  background: radial-gradient(circle at top, #8d0fd1, #3b004f);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* LOGIN BOX */
.login-box {
  width: 360px;
  text-align: center;
  color: white;
}

/* AVATAR */
.avatar {
  margin: auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #c000c0;
  /* box-shadow: 0 0 30px rgba(255, 0, 255, 0.8); */
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 auto 30px;
  margin-bottom: 30px;
}
.user {
  color: #f1e6ff;
  font-size: 42px;
}
/* INPUT FIELD */
.field {
  display: flex;
  align-items: center;
  gap: 12px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.6);
  margin-bottom: 22px;
  padding-bottom: 6px;
}

.message,
.lock {
  width: 20px;
  height: 20px;
  color: white;
}

.field input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 15px;
}

.field input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

/* OPTIONS */
.options {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-bottom: 25px;
}

.options a {
  color: #ddd;
  text-decoration: none;
}

/* BUTTONS */
.btn {
  width: 100%;
  padding: 14px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 12px;
  border-radius: 2px;
}

.primary {
  background: linear-gradient(to right, #b300ff, #ff00cc);
  color: white;
}

.secondary {
  background: transparent;
  color: #ffb3ff;
}
