body {
  background: black;
  color: white;
}

#home {
  color: aliceblue;
  display: none;
  flex-direction: column;
}

#login {
  width: 400px;
  height: 300px;
  background-color: aliceblue;
  display: flex;
  gap: 12px;
  flex-direction: column;
}
#username,
#password {
  padding: 13px;
  border: 3px solid black;
}
#box {
  position: absolute;
  top: 40%;
  left: 45%;
  display: flex;
  gap: 15px;
  flex-direction: column;
}
button {
  padding: 13px;
  background: green;
}
#errorMsg {
  color: black;
}
