@import "tailwindcss";
:root {
  background-image: url(/web_coding.webp);
  color-scheme: dark only;
}

#home {
  display: none;
  flex-direction: column;
}

#login {
  display: none;
  flex-direction: column;
}
